<section>
  <div class="user-element">
  <div class="photo"><%= @user.photo %></div>
  <div class="user-information">
    <h2><%= @user.name %></h2>
    <h4>Number of posts: <%= @user.postsCounter %></h4>
  </div>
  </div>
  <div class="bio">
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>
  <% @posts = @user.three_most_recent_posts %>
  <ul>
    <% @posts.each do |post| %>
    <li class="post-element">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <h5>Comments: <%= post.commentsCounter %>, Likes: <%= post.likesCounter %></h5>
    </li>
    <% end %>
  </ul>
  <%= link_to user_posts_path(@user) do %>
  <button class="posts-button" >See all posts</button> 
  <% end %>
</section>
